<div class="profile-container">
    <div class="profile-card" [style.borderColor]="player().color">
        <span class="title">{{ player().name }}</span>
    </div>
    <p>Exp</p>
    <div class="btn-validate-section">
        <input
            type="number"
            class="kp-value"
            min="0"
            [formControl]="experienceControl"
        />
        <button class="btn-validate" (click)="addXP()">✅</button>
    </div>

    <div class="exp-bar-container">
        <div class="exp-value">
            {{ player().experience % 100 }}
        </div>
        <div class="exp-bar-bg">
            <div
                class="exp-bar-fill"
                [style.width.%]="xpProgress()"
                [style.background-color]="player().color"
            ></div>
        </div>
        <div class="exp-graduations">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <p>Points de savoir</p>
    <div class="kp-container">
        <button (click)="increaseKP()">+</button>
        <div class="btn-validate-section align-right">
            <input
                type="number"
                class="kp-value"
                min="0"
                [formControl]="knowledgePointsControl"
            />
            <button class="btn-validate" (click)="onKnowledgeInput()">
                ✅
            </button>
        </div>
        <button (click)="decreaseKP()">-</button>
    </div>
</div>
