.player-view {
    display: flex;
    flex-direction: column;
    height: 100vh;
    p {
        text-align: center;
    }
    .header {
        padding-top: 12px;
        padding-bottom: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        .profile-container {
            width: 160px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 18px;
        }

        .profile-card {
            width: 120px;
            height: 90px;
            border: 2px solid;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .title {
            font-weight: 600;
        }
    }
    .content {
        display: flex;
        flex-direction: row;
        height: 100vh;
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        .stats {
            flex: 0 0 20%;
            display: flex;
            justify-content: center;
            align-items: center;

            .avatar {
                width: 40px;
                height: 40px;
                border: 2px solid #333;
                border-radius: 8px;
            }

            .xp-container {
                width: 100%;
                position: relative;
            }

            .xp-value {
                position: absolute;
                top: -18px;
                left: 50%;
                transform: translateX(-50%);
                font-size: 12px;
            }

            input[type="range"] {
                width: 100%;
                accent-color: #6bb;
            }

            .kp-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 6px;
            }

            .kp-container button {
                width: 36px;
                height: 36px;
                font-size: 18px;
                cursor: pointer;
                border: 0;
            }
            .kp-container button:hover {
                background-color: transparent;
            }

            .kp-container > div {
                background: white;
            }

            .kp-value {
                width: 50px;
                height: 50px;
                border: 1px solid #333;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
            .kp-value::-webkit-outer-spin-button,
            .kp-value::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            .kp-value[type="number"] {
                -moz-appearance: textfield;
            }

            .exp-bar-container {
                position: relative;
                width: 100%;
                .exp-bar-bg {
                    width: 100%;
                    height: 16px;
                    border-radius: 8px;
                    border: 1px solid #333;
                    position: relative;
                    z-index: 2;
                    background-color: white;
                    .exp-bar-fill {
                        height: 100%;
                        border-radius: 8px;
                        position: relative;
                        z-index: 2;
                    }
                }
                display: flex;
                flex-direction: column;
                justify-content: center;
                .exp-value {
                    border: 1px solid #333;
                    border-radius: 8px;
                    padding: 2px 6px;
                    align-self: center;
                    margin-bottom: 15px;
                }
                .exp-graduations {
                    position: absolute;
                    top: -10px;
                    left: 0;
                    width: 101%;
                    height: 20px;
                    display: flex;
                    justify-content: space-between;
                    pointer-events: none;
                    z-index: 0;

                    span {
                        width: 1px;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.35);
                    }
                }
            }

            .exp-section {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                margin-bottom: 18px;
                margin-left: 4px;
                .btn-validate {
                    width: 32px;
                    height: 32px;
                    font-size: 18px;
                    cursor: pointer;
                    border: 0;
                    border-radius: 8px;
                }
            }

            input {
                font-size: 30px;
            }
        }

        .graph {
            flex: 0 0 80%;
            border: 1px solid black;
            border-radius: 10px;
            overflow-x: auto;
            height: 80%;
        }
    }
}
