<div class="modal-backdrop" (click)="close.emit()">
    <div class="modal-card macondo" (click)="$event.stopPropagation()">
        <button class="close-cross" (click)="close.emit()">×</button>

        <h2 class="title">{{ spell().name ?? spell().id }}</h2>

        <div class="icon">
            <img [src]="spell().imageUrl" />
            @if (spell().isStar) {
            <img src="/assets/spells/stars.png" class="star" alt="Étoile" />
            }
        </div>

        <div class="separator"></div>

        <p class="description">
            {{ spell().description }}
        </p>

        @if (spell().isStar) {

        <div class="separator"></div>
        <div class="star-info">
            <img src="/assets/spells/stars.png" class="star" alt="Étoile" />
            <div class="star-text">
                <p>
                    Les compétences à étoiles sont des compétences uniques, dont
                    une seule activation par type est possible, bloquant de fait
                    la maîtrise de l'autre compétence.
                </p>
            </div>
        </div>
        }

        <div class="separator"></div>

        <div class="buy-btn-container">
            <button
                #buyBtn
                class="buy-btn"
                [class.buying]="buying()"
                [disabled]="!canBuy()?.(spell().id)"
                (click)="onBuy()"
            >
                <span class="btn-text">Maîtrise : 1 point de savoir</span>
                @if (buying()) {
                <span class="success-text">✓ Maîtrisé !</span>
                }
            </button>
        </div>
    </div>
</div>
