<form
    class="setup-container"
    (ngSubmit)="createPlayer()"
    [formGroup]="form"
    novalidate
>
    <h1>Configuration du Joueur</h1>

    <!-- NAME -->
    <div class="form-group">
        <label for="player-name">Nom du Profil</label>
        <input
            id="player-name"
            type="text"
            formControlName="name"
            placeholder="Entrez votre nom"
        />

        @if (nameError()) {
        <p class="error" role="alert">{{ nameError() }}</p>
        }
    </div>

    <!-- COLOR -->
    <div class="form-group">
        <label for="player-color">Couleur de la barre d'XP</label>

        <div class="color-row">
            <input id="player-color" type="color" formControlName="color" />
        </div>
    </div>

    <!-- ACTION -->
    <button class="btn-create" type="submit" [disabled]="form.invalid">
        Rejoindre
    </button>
</form>
