.tree-container {
    position: relative;
    height: 100%;
    overflow: auto;
}

.grid-wrapper {
    position: relative;
}

.links {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    stroke: #999;
    stroke-width: 2;
}

.grid {
    display: grid;
    place-items: center;
    position: relative;
}

.node {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 2px solid #333;
    background-color: white;
    display: grid;
    place-items: center;
    cursor: pointer;
    padding: 0;
    position: relative;

    .star {
        width: 20px;
        height: 20px;
        object-fit: contain;
        pointer-events: none;
        position: absolute;
        top: -8px;
        right: -8px;
    }
}

.grid img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    pointer-events: none;
}
